version: '3.6'

services:
  harvester:
    container_name: {{keywords}}-harvester
    image: whyneedaname/tweets-harvester:latest
    command: -q {{keywords}} -db one_hundred_percent_deadlocked_not_gonna_changed_name_database
