{% extends "layout.html" %}

{% block map %}
<main role="main" class="container">
	<div class="row">
		<div class="col-md-8">
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<h1> Senario I:  </h1>
					</div>
					<p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla mauris, mattis et erat non, consequat sagittis lorem. Vivamus dignissim placerat magna, ac vehicula est porta ac. Nullam hendrerit purus nisl, maximus iaculis nibh malesuada in. Integer eu orci tellus. Nullam eget orci quis dolor maximus maximus sed id sem. Proin a risus diam. Aenean enim nulla, ultricies sit amet interdum et, feugiat ut tortor. Mauris in nisl vitae tellus faucibus luctus. Nam a placerat ligula. Nulla interdum fermentum eleifend. Integer volutpat elit ac nibh commodo, sit amet volutpat turpis laoreet.</p>
				
				</div>
			</article>
		
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<h1> Senario II:  </h1>
					</div>
					<p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla mauris, mattis et erat non, consequat sagittis lorem. Vivamus dignissim placerat magna, ac vehicula est porta ac. Nullam hendrerit purus nisl, maximus iaculis nibh malesuada in. Integer eu orci tellus. Nullam eget orci quis dolor maximus maximus sed id sem. Proin a risus diam. Aenean enim nulla, ultricies sit amet interdum et, feugiat ut tortor. Mauris in nisl vitae tellus faucibus luctus. Nam a placerat ligula. Nulla interdum fermentum eleifend. Integer volutpat elit ac nibh commodo, sit amet volutpat turpis laoreet.</p>
				
				</div>
			</article>
		
			<article class="media content-section">
				<div class="media-body">
					<div class="article-metadata">
						<h1> Senario III:  </h1>
					</div>
					<p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nulla mauris, mattis et erat non, consequat sagittis lorem. Vivamus dignissim placerat magna, ac vehicula est porta ac. Nullam hendrerit purus nisl, maximus iaculis nibh malesuada in. Integer eu orci tellus. Nullam eget orci quis dolor maximus maximus sed id sem. Proin a risus diam. Aenean enim nulla, ultricies sit amet interdum et, feugiat ut tortor. Mauris in nisl vitae tellus faucibus luctus. Nam a placerat ligula. Nulla interdum fermentum eleifend. Integer volutpat elit ac nibh commodo, sit amet volutpat turpis laoreet.</p>
				
				</div>
			</article>
		</div>
	</div>	
</main>
	
	
{% endblock map %}